
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    flex:1;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
    width: inherit;
    height: inherit;
    background: var(--background-color, white);
}

title-bar{
    position: fixed;
    top:0;
    width: calc(100vw - 76px);
    height: 37px;
    background: var(--titlebar-background-color, gainsboro);
    left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-app-region: drag;
    padding-left: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: var(--system-drop-shadow);
    z-index: 99;

    transform: perspective(100px);

    transition: background .5s;
}

title-bar button[data-do],
title-bar .search{
    -webkit-app-region: no-drag;
}

tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 34px; */
    flex: 0 0 auto;
    color: var(--tab-foreground-color,black);
    background: var(--tab-inactive-background,white);
    padding: 0 15px;
    order:-1;
    position: relative;
    transform: scale(0.9);
    transition: all .4s;
    width: calc(200px - 30px);
}

tab.active{
    background: var(--tab-background-color,white);
    transform: scale(1);
}

tab:not(.active):hover{
    background: var(--tab-hover-background,transparent);
    transform: scale(0.9);
}

tab span.i, title-bar tab>svg{
    opacity: 1;
    transition: all .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tab:not(.active) span.i, tab:not(.active)>svg{
    opacity: 0;
}

tab:not(.active):hover span.i, tab:not(.active):hover>svg{
    opacity: 0.5;
}

title-bar>button{
    order: 0;
    background: transparent;
    color: var(--tab-hover-background,white);
    padding: 0;
    border: 0;
    font-size: 22px;
    display: flex;
    margin-left: 10px;
    text-shadow: 0 0 2px white;

    transition: all .4s;
}

title-bar>button:hover{
    color: var(--tab-background-color,white);
}

title-bar>button:focus{
    outline: none;
}

tab span{
    margin-right: 10px;
}

tab span:not(.i){
    font-family: 'Montserrat', sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tab>svg{
    transform: scale(0.8);
}

tab>div>span>svg:hover{
    color: var(--tab-close-color);
}

.tabContainer{
    position: absolute;
    top: 37px;
    width: calc(100vw);
    left: 0;
    height: calc(100vh - 37px);
}

.tabContainer>div{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.tabContainer>div.active{
    display: flex;
    flex-direction: column;
}

.tabContainer>div.active>webview{
    /*flex:1;*/
    position: relative;

    transition: all .4s;
}


.searchbar>span{
    flex-direction: row;
    display: flex;
}

.searchbar button {
    width: 30px;
    height: 30px;
    margin: 0 0 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--tab-foreground-color,whitesmoke);
    border: 0;
    background:  transparent;
    border-radius: 4px;
    justify-self: flex-start;

    transform: scale3d(0.8,0.8,0.8);

    transition: all .4s;
}

.searchbar>span:last-of-type{
    position: absolute;
    right: 4px;
}

.searchbar>span button.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.searchbar>span button:hover{
    transform: scale3d(1,1,1);
    color: var(--button-foreground-color,white);
}

.searchbar .search button:hover{
    background: gainsboro;
}

.searchbar button:active{
    transform: scale3d(0.8,0.8,0.8);
}

.search {
    width: 50vw;
    display: flex;
    position: absolute;
    left: 25vw;
    height: 28px;
}

.searchbar .search button {
    position: absolute;
    left: -4px;
    z-index: 99;
    opacity: 0.5;
}

.searchbar .search input[type="text"]:focus~button{
    opacity:0.25;
}

.searchbar button:focus{
    outline:none;
}

.searchbar .search input[type="text"],
.searchbar .search div.url-helper{
    width: 100%;
    height: 28px;
    padding: 0;
    border: 0;
    padding-left: 34px;
    background: var(--searchbox-background-blured);
    transition: all .4s;
    font-size: 15px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    box-shadow: none;
}

.searchbar .search input[type="text"]{
    opacity: 0;
}

.searchbar .search input[type="text"]:focus{
    background: var(--searchbox-background-active);
    outline: 0;
    opacity: 1;
    box-shadow: var(--searchbox-shadow);
}

.searchbar .search div.url-helper{
    opacity: 1;
    pointer-events: none;
    background: transparent;
    color: var(--searchbox-foreground-active);
    align-items: center;
    text-rendering: auto;
    /*     color: initial; */
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 15px system-ui;
    vertical-align: middle;
    display: flex;
    overflow: hidden;
}

.searchbar .search input[type="text"]:focus+div.url-helper{
    opacity: 0;
}

.searchbar .search input[type="text"]:hover {
    cursor: pointer;
    background: var(--searchbox-background-hovered);
}

.tabContainer webview{
    transition: transform 1s;
    transform-origin: top;
    background:white;
}

.shrink webview{
    transform: scale3d(0.8,0.8,0.8) translateY(40px);
}

.download.panel{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    left:0;
    transform: translateY(50px);

    transition: all .4s;
    z-index: 999;
}

.download.panel.show{
    transform: translateY(0);
}

side-bar{
    position: fixed;
    z-index: 996;
    left: 0;
    height: calc(100vh - 37px);
    width: 200px;
    transform: translateX(-195px);
    top: 37px;
    opacity: 0;
    background: rgba(48,48,48,0.8);
    overflow: auto;
    transition: all .4s;
}

side-bar:hover{
    transform: translateX(0px);
    opacity: 1;
}

.ws{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 38px);
}

.ws .tabContainer{
    transform-origin: 95% 50% 0;
    transform: perspective(600px);
    /*background: white;*/
    transition: transform .4s;
}

.ws side-bar:hover+.tabContainer{
    transform: perspective(600px) scale3d(0.8,0.8,0.8);
}

.vert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.vert > span:first-of-type{
    height: 34px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 5px; */
}

.vert > span:nth-of-type(2){
    height: 112px;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}

.vert span img{
    width: inherit;
    height: inherit;
    border-radius: 3px;
}

.panel.suggest{
    position: absolute;
    z-index: 99;
    top: 37px;
    background: var(--titlebar-background-color, black);
    width: 100vw;
    left:0;
    max-height: 40vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    box-shadow: var(--system-drop-shadow);
}

.panel.suggest:empty{
    visibility: hidden;
}

.panel.suggest ul:empty{
    visibility: hidden;
}

.panel.suggest ul{
    max-height: 100%;
    position: relative;
    overflow: auto;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.panel.suggest ul li{
    color: var(--titlebar-foreground-faded);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.panel.suggest ul li:hover{
    color: var(--titlebar-foreground-color);
}

.panel.suggest ul li:hover .badge {
    background: var(--tab-background-color);
    padding: 2px 5px;
    border-radius: 4px;
    color: var(--tab-foreground-color);
    opacity: 1;
}

.panel.suggest ul li .badge {
    padding: 2px 5px;
    border-radius: 4px;
    opacity: 0;
    margin-right: 15px;
}

.panel.suggest ul li:hover {
    background: var(--highlight-base);
    color: var(--titlebar-foreground-color);
}

.panel.suggest ul li span.term {
    text-overflow: ellipsis;
}

div.url-helper .secure{
    color: var(--website-security-okay);
}

div.url-helper .insecure{
    color: var(--website-security-bad);
    text-decoration: line-through;
}

div.url-helper .host{
    color: var(--website-url-color);
}

div.url-helper .text{
    color: var(--website-path-color);
    max-height: 18px;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.url-helper .text:last-of-type{
    overflow: hidden;
}

.panel.link {
    position: fixed;
    z-index: 999;
    bottom:0;
    padding: 3px 5px;
    right:0;
    max-width: 70vw;
    max-height: 18px;
    font-family: "Montserrat", sans-serif;
    background: rgba(255,255,255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-top-left-radius: 4px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.panel.link:empty{
    display: none;
}

.icon{
    max-width: 18px;
}

/* CONTEXT MENU */

.context-menu{
    position: absolute;
    border-radius:4px;
    overflow: hidden;
    z-index: 999;
    backdrop-filter:blur(5px);
}

.context-menu ul {
    position: relative;
    background: var(--context-menu-background);
    padding: 0;
    margin:0;
    list-style:none;
    display:flex;
    flex-direction:column;
}

.context-menu ul *{
    box-sizing:border-box;
}

.context-menu ul li{
    width:200px;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    position:relative;
}

.context-menu ul li[disabled]{
    pointer-events: none;
    opacity: 0.4;
}

.context-menu ul li label{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    position:relative;
    padding: 6px 12px;
}

.context-menu ul li label:empty{
    height: 1px;
    display:block;
    padding: 0;
    background: var(--tab-background-color);
}

.context-menu ul li label:not(:empty):hover{
    background: var(--highlight-base);
    color: var(--button-background-color);
}

.context-menu ul li label .hint{
    opacity: 0.5;
}

/* FILTER */
.filter {
    z-index: 997;
    width:100vw;
    position: absolute;
    top:37px;
    left:0;
    height: calc(100vh - 37px);
}

.no-touch{
    background:transparent;
}